---
import BaseLayout from "@/layout/BaseLayout.astro";
import Header from "@/components/header.astro";
import { Icon } from "astro-icon/components";

interface Social {
    name: string;
    href?: string;
    isLink?: boolean;
}

interface StackItem {
    name: string;
}
interface Stack {
    web: StackItem[];
    backend: StackItem[];
    databases: StackItem[];
    other: StackItem[];
}

const socials: Social[] = [
    {
        name: "github",
        href: "https://github.com/ayushsehrawat",
        isLink: true,
    },
    {
        name: "discord",
        href: "@_mini.dev",
        isLink: false,
    },
];

const stack: Stack = {
    web: [
        {
            name: "js",
        },
        {
            name: "ts",
        },
        {
            name: "html",
        },
        {
            name: "css",
        },
        {
            name: "sveltekit",
        },
        {
            name: "astro",
        },
        {
            name: 'tailwindcss',
        }
    ],
    backend: [
        {
            name: "python",
        },
        {
            name: "fastapi",
        },
        {
            name: "bash",
        }
    ],
    databases: [
        {
            name: "mongodb",
        },
        {
            name: "postgresql",
        },
    ],
    other: [
        {
            name: "git",
        },
        {
            name: "vscode",
        },
        {
            name: "docker",
        },
        {
            name: "linux",
        },
    ],
};
---

<BaseLayout title="about" description="about me">
    <Header />
    <div
        class="w-full h-full flex flex-col mx-auto items-start justify-center max-w-5xl gap-8 p-8 md:px-24 lg:px-32"
    >
        <h1 class="font-secondary text-4xl md:text-5xl text-txt-0">about</h1>
        <div class="gap-2 flex flex-col">
            <p class="text-base md:text-lg">
                hey there! i'm a college student who goes by mini online. i'm
                interested in computer science, web development, backend
                development, design, and more. i'm passionate about learning new
                things and sharing my knowledge with others. i'm currently
                working on a few projects and learning new technologies.
            </p>
            <p class="text-base md:text-lg">
                i'm always open to new opportunities and collaborations, so feel
                free to reach out to me!
            </p>
        </div>
        <div class="gap-4 flex flex-col">
            <h2 class="font-secondary text-2xl md:text-3xl text-txt-0">links</h2>
            <div class="flex flex-col gap-2">
                {
                    socials.map((social) => (
                        <div class="flex flex-row gap-2 items-center text-base md:text-lg font-secondary">
                            <span>
                                {social.name}
                            </span>
                            {social.isLink ? (
                                <a href={social.href}>
                                    <Icon
                                        name="ph:arrow-up-right"
                                        class="size-4"
                                    />
                                </a>
                            ) : (
                                <span class="text-pink">{social.href}</span>
                            )}
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="gap-4 flex flex-col">
            <h3 class="font-secondary text-2xl md:text-3xl text-txt-0">stack</h3>
            {
                (Object.keys(stack) as (keyof Stack)[]).map((key) => (
                    <div class="flex flex-wrap items-center">
                        <h4 class="font-secondary text-lg md:text-xl text-txt-0 mr-1">
                            {key}
                        </h4>
                        <Icon name="ph:arrow-right" class="size-4 mr-2" />
                            {
                                stack[key].map((item) => (
                                    <span class="text-base md:text-lg font-secondary">
                                        {item.name}
                                    </span>
                                    <span class="mx-2">
                                        {item.name === stack[key][stack[key].length - 1].name ? "" : "/"}
                                    </span>
                                ))
                            }
                    </div>
                ))
            }
        </div>
    </div>
</BaseLayout>
